@font-face {
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
}
@font-face {
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("Roboto-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
}
@font-face {
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input, select {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

body {
  background-image: linear-gradient(90deg, #3a7ea1 0%, #89c1e9 100%);
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1180px;
  margin: auto;
}

.button {
  margin-top: 20px;
  border: none;
  background-image: linear-gradient(75deg, #49A3F3 0%, #3e9ef1 100%);
  color: #fff;
  border-radius: 20px;
  padding: 15px 100px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  box-shadow: 0px 3px 10px rgba(85, 83, 83, 0.274);
  cursor: pointer;
}

.first-screen,
.middle-screen,
.last-screen {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #ACC7D5 0%, #D4EAFA 100%);
  width: 455px;
  border-radius: 40px;
  box-shadow: 0px 5px 17px rgba(58, 57, 57, 0.2);
  padding: 0 30px;
}

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  font-size: 90px;
  width: 1em;
  height: 1em;
  color: #4882c0;
  border-radius: 50%;
  transform: translateZ(0);
  animation: spin 1.9s infinite ease;
}
.preloader-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(139, 138, 138, 0.5725490196);
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
.visible {
  display: flex;
}

.show-wage--clear {
  text-align: center;
  margin-top: 10px;
  color: #0B4870;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
}
.show-wage--dirty {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 10px;
  color: #EF6669;
  text-transform: none;
}

.title {
  position: relative;
  margin: 20px 0;
}
.title::before, .title::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.title::before {
  left: -20px;
  background-color: #49A3F3;
}
.title::after {
  right: -20px;
  background-color: #EF6669;
}

.wage-item {
  border: 2px solid #0B4870;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  list-style: none;
  text-align: center;
  margin: 8px 0;
  padding: 5px;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
