@font-face {
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
}
@font-face {
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("Roboto-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
}
@font-face {
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input, select {
  border: none;
  outline: none;
}

.select {
  appearance: none;
  background: #F8F8F8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 16px;
  padding: 18px 0;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  padding-left: 25px;
  margin-top: 15px;
  color: #636161;
  cursor: pointer;
}

.input {
  background: #F8F8F8;
  border: none;
  box-shadow: 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 16px;
  padding: 18px 20px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  padding-left: 55px;
  margin-top: 25px;
}
.input--optional {
  display: flex;
  justify-content: space-between;
  background-color: rgba(202, 220, 230, 0.5490196078);
  box-shadow: 0px 3px 10px rgba(119, 115, 115, 0.103);
  padding: 25px 10px;
  border-radius: 16px;
}

li {
  list-style: none;
}

body {
  background-image: linear-gradient(90deg, #3a7ea1 0%, #89c1e9 100%);
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1180px;
  margin: auto;
}

.button {
  margin-top: 20px;
  border: none;
  background-image: linear-gradient(75deg, #49A3F3 0%, #3e9ef1 100%);
  color: #fff;
  border-radius: 20px;
  padding: 15px 100px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  box-shadow: 0px 3px 10px rgba(85, 83, 83, 0.274);
  cursor: pointer;
}

.first-screen,
.middle-screen,
.last-screen {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #ACC7D5 0%, #D4EAFA 100%);
  width: 460px;
  border-radius: 40px;
  box-shadow: 0px 5px 17px rgba(58, 57, 57, 0.2);
  padding: 15px 30px 30px 30px;
  margin: 30px 0;
}
.wrapper-select {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 10px 0 20px 0;
}
.wrapper-mood {
  display: flex;
  justify-content: space-around;
}
.wrapper-mood__img {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.4s ease 0s;
}

.focus {
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.mood {
  background-color: rgba(36, 36, 36, 0.937254902);
  box-shadow: 0px 3px 10px rgba(119, 115, 115, 0.103);
  padding: 20px 10px;
  border-radius: 16px;
}
.mood-button {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.mood-title {
  font-size: 22px;
  font-weight: 300;
  color: #e6e6e6;
  text-align: center;
  margin-bottom: 20px;
}

.preloader {
  position: fixed;
  top: 40%;
  left: 48%;
  overflow: hidden;
  font-size: 90px;
  width: 1em;
  height: 1em;
  color: #4882c0;
  border-radius: 50%;
  transform: translateZ(0);
  animation: spin 1.9s infinite ease;
}
.preloader-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(139, 138, 138, 0.5725490196);
  width: 100%;
  height: 100%;
}

.visible {
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #306385;
  padding: 30px;
  height: 900px;
}
.info-decription {
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.info-decription__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info-norm-hours {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 40px;
}
.info-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info-text__decription {
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.info-text__disclaimer {
  font-size: 19px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  margin-left: 10px;
  color: #306385;
}
.info-text__disclaimer--wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(202, 220, 230, 0.5490196078);
  box-shadow: 0px 3px 10px rgba(119, 115, 115, 0.103);
  padding: 25px 10px;
  border-radius: 20px;
}
.info-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}

.show-wage--clear {
  text-align: center;
  margin-top: 10px;
  color: #0B4870;
  font-weight: 700;
  line-height: 30px;
  font-size: 19px;
  text-transform: uppercase;
}
.show-wage--dirty {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 10px;
  color: #EF6669;
  text-transform: none;
}

.title {
  position: relative;
  margin: 20px 0;
  font-size: 24px;
}
.title::before, .title::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.title::before {
  left: -20px;
  background-color: #49A3F3;
}
.title::after {
  right: -20px;
  background-color: #EF6669;
}

.wage-item {
  border: 2px solid #0B4870;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  list-style: none;
  text-align: center;
  margin: 8px 0;
  padding: 5px;
  border-radius: 4px;
}

.start {
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.middle-title {
  color: #0B4870;
  font-weight: 600;
  line-height: 35px;
  font-size: 30px;
  padding: 25px 0 15px 0;
  text-transform: uppercase;
}

.tariff, .experience, .hardship {
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
}

.workout-hours {
  background-image: url(../images/hour.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.bonus {
  background-image: url(../images/bonus.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.night-hours {
  background-image: url(../images/night.svg);
  margin: 0;
  width: 49%;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.one-time-bonus {
  background-image: url(../images/onetime.svg);
  margin: 0;
  width: 49%;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: center left 20px;
}

/*# sourceMappingURL=style.css.map */
