.show-wage
  &--clear
    text-align: center
    margin-top: 10px
    color: #0B4870
    font-weight: 700
    line-height: 30px
    font-size: 18px
    text-transform: uppercase
  &--dirty
    font-size: 19px
    font-weight: 700
    line-height: 30px
    margin-top: 10px
    color: #EF6669
    text-transform: none

.title
  position: relative
  margin: 20px 0
  &::before, &::after
    content: ''
    position: absolute
    top: 8px
    width: 10px
    height: 10px
    border-radius: 50%
    border: 1px solid #ccc
  &::before
    left: -20px
    background-color: #49A3F3
  &::after
    right: -20px
    background-color: #EF6669

.wage
  &-item
    border: 2px solid #0B4870
    display: flex
    align-items: center
    justify-content: space-between
    width: 400px
    list-style: none
    text-align: center
    margin: 8px 0
    padding: 5px
    border-radius: 4px
